$primary-color: #f4e041;
$secondary-color: #00bdd3;
$background-color: #f8f8f8;
$border-color: #d0cfcf;
$label-color: #7e7e7e;
$black87-color: rgba(0, 0, 0, 0.87);

$error-color: #ff5252;
$success-color: #4caf50;
$warning-color: #ffc107;
